* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.section {
  font-size: 14px;
  text-align: center;

}

.container {
  max-width: 1030px;
  margin: 0 auto;

  @media (max-width: 1030px) {
    margin: 0 4%;
  }

  @media (max-width: 768px) {
    // min-width: 345px;
  }
}


nav {
  background: #1b1310;
  border-bottom: 2px solid #fff;

  .nav_bar {
    height: 74px;
    max-width: 1200px;
    margin: 0 auto;
    // margin: 0 4%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1440px) {
      margin: 0 4%;
    }

    @media (max-width: 768px) {
      // min-width: 345px;
      margin: 0 4%;
    }

    .icon {
      h2 {
        font-size: 26px;
        line-height: calc(34 / 26);
        a{
          text-decoration: none;
          color: #fff;
          &:hover{
            opacity: .5;
          }
        }
      }
    }

    .menu {
      list-style: none;

      @media (max-width: 768px) {
        // display: none;
        position: fixed;
        top: 0;
        left: 0;
        background: #1B1310;
        color: #fff;
        width: 100vw;
        // padding: 210px 155px;
        z-index: 5;
      }

      ul{
        @media (max-width: 768px) {
          height: 100vh;
          width: 64px;
          margin: 0 auto;
          padding-top: 210px;
        }
        li {
          display: inline-block;
          margin-right: 55px;
          &:last-of-type{
            margin: 0;
          }
          @media (max-width: 768px) {
            display: block;
            margin-bottom: 50px;
          }
  
          a {
            font-size: 16px;
            color: #fff;
            text-decoration: none;
            @media (max-width: 768px) {
              font-size: 16px;
              letter-spacing: 0.05em;
              line-height: calc(30 / 16);  
            }
            &:hover{
              opacity: .5;
            }
          }
        }
      }
    }

    .hamburger-menu {
      display: none;

      @media (max-width: 768px) {
        display: block;
        position: relative;
        width: 25px;
        height: 16px;
        cursor: pointer;
        z-index: 10;

        .bar{
          position: absolute;
          left: 0;
          display: inline-block;
          transition: all .4s;/*アニメーションの設定*/
          width: 25px;
          height: 1px;
          background: #fff;
        }

        .bar_mid {
          top: 50%;
        }

        .bar_top {
          top: calc(50% - 8px);
        }

        .bar_bottom {
          top: calc(50% + 8px);
        }        
      }

      &.cross{
        .bar_mid {
          opacity: 0;
          transition: transform .3s;
        }

        .bar_top {
          transform: translate(-25%, 8px) rotate(45deg);
          transition: transform .3s;
        }

        .bar_bottom {
          transform: translate(-25%, -8px) rotate(-45deg);
          transition: transform .3s;
        }        
      }
    }
  }
}

.noscroll{
  overflow: hidden;
}


header {
  height: 740px;
  color: #fff;
  text-align: center;
  background-image: url('../img/fv-bgi@2x.jpg');
  background-position: center;
  background-size: cover;
  position: relative;

  @media (max-width: 768px) {
    height: 590px;
    background-image: url('../img/fv-bgi_sp@2x.jpg');
  }

  .head_txt {
    padding: 35px 42px;
    border: 2px solid #fff;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 768px) {
      padding: 30px 40px;
      // width: 94%;
      // 他の記述
      // padding: 0;
      // width: 300px;
      // height: 100px;
    }
  
    h1 {
      font-size: 50px;
      letter-spacing: 0.05em;

      @media (max-width: 768px) {
        font-size: 30px;
        line-height: 1;
      }
    }
  }
}

.about {
  margin-top: 100px;
  text-align: center;

  .container {
    h1 {
      font-size: 36px;
      font-weight: 500;
      letter-spacing: 0.05em;
      line-height: 1.5;
    }

    .about_txt {
      margin-top: 70px;
      text-align: left;

      h3 {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.1em;
        line-height: 2;
        margin-bottom: 42px;
        @media (max-width: 768px) {
          font-size: 20px;
          margin-bottom: 30px;
        }
      }

      p {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.05em;
        line-height: calc(30 / 14);
        font-family: YuGothicUI-Bold;
      }
    }
  }
}

.service {
  margin: 150px 0;
  text-align: center;

  .container {
    h1 {
      font-size: 36px;
      font-weight: 500;
      letter-spacing: 0.05em;
      line-height: 1.5;
      margin-bottom: 70px;
    }

    .row {
      .col {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        margin-bottom: 50px;
        @media (max-width: 768px) {
          display: block;
        }
          
        .svc_txt {
          line-height: 240px;
          width: 480px;
          @media (max-width: 768px) {
            margin-bottom: 40px;
            width: 100%;
          }            

          h3 {
            font-size: 24px;
            letter-spacing: 0.1em;
            line-height: 2;
            margin-bottom: 41px;
            font-weight: bold;
            @media (max-width: 768px) {
              font-size: 20px;
              margin-bottom: 30px;
            }            
          }

          p {
            font-size: 14px;
            line-height: calc(30 / 14);
            letter-spacing: 0.05em;
            font-weight: bold;
          }
        }

        .svc_img {
          max-width: 480px;
          margin-right: 20px;
          @media (max-width: 768px) {
            text-align: center;
            max-width: none;
          }
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }

      }

      .col_1 {
        .svc_img {
          order: 1;
        }

        .svc_txt {
          order: 2;
        }
      }
    }
  }
}

.news {
  margin: 150px 0;
  text-align: center;

  .container {
    h1 {
      font-size: 36px;
      font-weight: 500;
      letter-spacing: 0.1em;
      line-height: calc(48 / 36);
      margin-bottom: 70px;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      @media (max-width: 768px) {
        display: block;
      }            

      .col {
        max-width: 320px;
        box-shadow: 0 0 6px #1B1310;
        @media (max-width: 768px) {
          max-width: none;
          width: 100%;
          margin-bottom: 50px;
        }            

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }

        .news_txt {
          padding: 25px 32px;
          // display: table;
          p {
            // display: table-cell;
            // vertical-align: middle;
            font-size: 13px;
            line-height: calc(25 / 13);
            letter-spacing: 0.05em;
          }
        }
      }

      .col_2 {
        margin: 0 16px;
        @media (max-width: 768px) {
          margin: 0;
          margin-bottom: 50px;
        }
        .svc_img {
          order: 2;
        }

        .svc_txt {
          order: 1;
        }
      }
    }
  }
}

.info {
  text-align: center;

  .info_container {
    max-width: 700px;
    margin: 0 auto;
  
    @media (max-width: 768px) {
      // min-width: 345px;
      margin: 0 4%;
    }
  
    h1 {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0.1em;
      line-height: 2;
      margin-bottom: 68px;
    }

    .info_form {
      text-align: left;

      form {
        .info_my {
          margin: 22px 0;

          p {
            font-size: 16px;
            letter-spacing: 00.05em;
            line-height: calc(30 / 16);
          }

          input {
            width: 100%;
            line-height: 30px;
          }

          textarea {
            width: 100%;
            // height: 171px;
          }
        }

        .button {
          margin: 50px 0;

          button {
            display: block;
            margin: 0 auto;
            color: #fff;
            background: #1b1310;
            border-radius: 50px;
            padding: 16px 97px;
            border: 1px solid #707070;
            box-shadow: 0 0 6px #1B1310;
            &:hover{
              opacity: .5;
            }
          }
        }
      }
    }
  }
}

footer {
  text-align: center;
  background: #1b1310;
  color: #fff;

  div {
    padding: 30px 0;
    @media (max-width: 768px) {
      padding: 20px 0;
    }
  
    p {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.05em;
      line-height: calc(30 / 14);
    }
  }
}

